@import './theme.css';

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

button, a {
  transition: all var(--transition-short);
}
